* {
  margin: 0;
  padding: 0;
}

/* Main Section */

.training-courses {
  width: 100%;
  padding-bottom: 20px;
}

.training-courses h1,
h2 {
  text-align: center;
  margin-top: 30px;
}

.training-courses h1 {
  font-family: "Sacramento", cursive;
  color: #39aea9;
  font-size: 4rem;
}

.training-courses h2 {
  font-family: "Merriweather", serif;
  margin-top: 20px;
  color: #61a4bc;
  font-size: 2.5rem;
}

/* Container Section */

.container {
  margin: auto;
  padding: 25px 0;
  width: 1270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  width: 25%;
  height: 25%;
}

.training-items {
  flex-basis: 21%;
  margin: 15px 0;
  box-shadow: 0px 0px 10px 3px lightgray;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 20px 0;
  transition: 0.5s;
}
.training-items:hover {
  transform: translateY(-15px);
}

.training-items h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  padding: 10px 0;
}

.training-items p {
  font-family: "Merriweather", serif;
  margin-top: 5px;
  padding: 5px;
}

.training-items button {
  font-family: "Montserrat", sans-serif;
  margin: 18px 0;
  background-color: blue;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Hover effects */
.training-items:hover {
  background-color: blue;
}

.training-items:hover h3,
.training-items:hover p {
  color: #fff;
}

.training-items:hover button {
  color: blue;
  background-color: #fff;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
    padding-bottom: 5px;
  }

  .training-items {
    margin: 12px;
  }

  .training-courses h1 {
    font-size: 3rem;
  }

  .training-courses h2 {
    font-size: 1.7rem;
  }
}
